# Project exclude paths
/spring-mvc/target/
/ssm/target/
/spring/target/
.idea
spring-boot/.mvn
**/target
/spring-boot/mvnw
/spring-boot/mvnw.cmd
/spring-mvc/spring-mvc.iml
/ssm/ssm.iml
/spring/spring.iml
