<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
        id：对象的名称，class：类的全限定名称（必须是类不能是接口）
        SomeService some = new SomeServiceImpl();
        springMap.put("some", some);
        一个bean标签声明一个对象
    -->
    <bean id="some" class="com.laughing.spring.service.impl.SomeServiceImpl" />

    <bean id="student" class="com.laughing.spring.entity.Student" >
        <!--set注入-->
        <property name="name" value="laughing" />
        <property name="age" value="22" />
    </bean>

    <bean id="school" class="com.laughing.spring.entity.School">
        <property name="name" value="ZJU" />
        <property name="address" value="Hangzhou" />
    </bean>

    <bean id="user" class="com.laughing.spring.entity.User">
        <property name="username" value="laughing" />
        <property name="password" value="123456" />
        <!--引用类型注入-->
        <property name="school" ref="school" />
    </bean>

    <bean id="laughing" class="com.laughing.spring.entity.User">
        <constructor-arg name="username" value="linus" />
        <constructor-arg name="password" value="root" />
        <constructor-arg name="school" ref="school" />
    </bean>
</beans>